{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
	<div class="banner-wrapper">
		<div class="banner">
			<div class="phrase">
				<h1>SolarMind</h1>
				<p>Monitoramento inteligente de painéis solares com auxílio de IA.</p>
				<a href="{{ url_for('auth.register') }}" class="call-to-action">Comece Aqui</a>
			</div>
      		<img src="{{ url_for('static', filename='images/home-animated-11150b30951a2af920c7f9aad4ca7440.svg') }}">
		</div>
	</div>
	<div class="about">
		<div class="about-container">
			<div class="imagem">
				<img src="{{ url_for('static', filename='images/logo2.png') }}" alt="SolarMind Logo">
			</div>
			<div class="frase">
				<h2>Sobre a SolarMind</h2>
				<p>Transformamos dados de suas placas solares em informações simples e acessíveis, ajudando você a monitorar, otimizar e economizar energia de forma inteligente.</p>
			</div>
		</div>
	</div>
{% endblock %}