{% extends 'base.html' %}

{% block header %}
    <h1 class="chat-title"> {% block title %}Doorman LLM{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="chat-container">
        <h1>Live Video Feed</h1>
        <img src="{{ url_for('main.video_feed') }}" alt="Video Feed">
    
        <div class="chat-wrapper">
            <form id="chat-gen" class="chat-form" method="post">
                <label for="user_input">Enter an input:</label>
                <input type="text" name="user_input">    
                <input class="chat-button" type="submit" value="Submit">
            </form>
        </div>
    
        <div class="chat-answer"></div>
    
        <audio controls>
            <source src="{{ url_for('static', filename=audio_filename) }}" type="audio/mpeg">
        </audio>
    
        <div id="loading-overlay" style="display: none;">
            <div id="loading-spinner">
                <div class="spinner"></div>
            </div>
            <p class="loading-message">Generating Answer...</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}