flask
flask_session
flask_sqlalchemy
flask_migrate
gunicorn
ollama
requests
redis
psycopg2-binary
gtts
kagglehub
tensorflow
numpy   
opencv-python
facenet-pytorch
torch
matplotlib
scikit-learn
scikit-image
imutils
pandas
pillow
scipy