html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #efeadf;
    background-size: cover;
    min-height: 100vh;
}
body {
    margin: 0;
    width: 100%;
}
a {
    color: #17363f;
}
.nav-wrapper {
    background-color: #17363f;
    width: 100%;
}

nav {
    background-color: #17363f;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 0.5rem 1rem;
}
h1 {
    color: #17363f;
}
nav h1 {
    margin: 0;
}
nav h1 a {
    text-decoration: none;
    color: #f3f1eb !important;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li span {
    color: #f3f1eb;
}

nav ul li a {
    color: #f3f1eb;
    display: flex;
    align-items: center;
    margin-left: 0.8rem;
}

.flash {
    padding: 1em;
    background: #1e5b58;
    border: 1px solid #f3f1eb;
    color: #efeadf;
}

.content {
    max-width: 960px;
    padding: 0 1rem 1rem;
    margin: 0 auto;
    background-color: #efeadf;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.chat-title {
    text-align: center;
}

.chat-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-form {
    display: flex;
    justify-content: center;
    width: 50%;
}

.chat-form input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.chat-button {
    background-color: #17363f;
    color: #f3f1eb;
    cursor: pointer;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #17363f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.loading-message {
    color: #17363f;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.banner-wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.banner > .phrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner > svg {
    max-width:100%;
}

.banner > .phrase > h1 {
    font-size: 3rem;
}

.call-to-action {
    margin-top: 1rem;
    background-color: #17363f;
    color: #f3f1eb;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    width: fit-content;
}

.webcam-container {
    display: flex;
    justify-content: center;
    align-items: center;
}