{% extends 'base.html' %}

{% block header %}
    <h1 class="chat-title"> {% block title %}Face Registration{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="chat-container">
        <h1>Live Video Feed</h1>
        <p>{{ num_files }} images</p>
        <img src="{{ url_for('auth.video_feed') }}" alt="Video Feed">
    
        <form method="post" action="{{ url_for('auth.tasks') }}">
            <input class="chat-button" type="submit" value="Capture" name="click" onclick="showLoadingSpinner()"/>
        </form>

        {% if num_files > 0 %}
        <div class="chat-wrapper">
            <form method="post" action="{{ url_for('auth.face_register') }}">
                <input class="chat-button" type="submit" value="Continue" name="click" onclick="showLoadingSpinner()"/>
            </form>
        </div>
        {% endif %}
    </div>

    <div id="loading-overlay" style="display: none;">
        <div id="loading-spinner">
            <div class="spinner"></div>
        </div>
        <p class="loading-message">Registrating...</p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}